<!doctype html>
<html lang="en">
<head>
    <meta name="description" value="Which Laravel Framework version is the right one to use? LTS or no LTS? Check out our support tables to know which one is best to use.">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laravel Support Tables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <script type="text/x-template" id="current-table-row-template">
        <tr>
            <td v-bind:class="{
                'is-primary': (hasActiveSupport && hasSecuritySupport),
                'is-warning': (!hasActiveSupport && hasSecuritySupport),
                'is-danger': (!hasActiveSupport && !hasSecuritySupport),
                'is-info': isUnreleased
            }">
                {{ version }}
                <span class="tag is-black" v-if="isLTS">LTS</span>
            </td>
            <td>{{ releaseDate !== null ? releaseDate.format('D MMM YYYY') : '?' }}</td>
            <td>{{ releaseDate !== null ? releaseDate.fromNow() : '?' }}</td>
            <td>{{ releaseDate !== null ? activeSupportUntil.format('D MMM YYYY') : '?' }}</td>
            <td>{{ releaseDate !== null ? activeSupportUntil.fromNow() : '?' }}</td>
            <td>{{ releaseDate !== null ? securitySupportUntil.format('D MMM YYYY') : '?' }}</td>
            <td>{{ releaseDate !== null ? securitySupportUntil.fromNow() : '?' }}</td>
            <td>{{ php }}</td>
        </tr>
    </script>
</head>
<body>

<div class="container" style="margin-top: 1em;margin-bottom: 1em;">
    <div class="content">
        <h1>Laravel Supported Versions</h1>
        <p>
            This website shows all of the currently supported versions of Laravel and is constantly updated.
            If the version you are using is in red, upgrade immediately!
            Orange means you only have security-related updates so plan your upgrade.
            Green means you have full support. Blue means this version is scheduled for release soon.
            This website is meant only as a guide.
        </p>

        <h3>Currently Supported Versions</h3>
        <p>
            <strong>Key:</strong> <span class="key-circle is-danger"></span> = Unsupported,
            <span class="key-circle is-warning"></span> = Bug fixes only,
            <span class="key-circle is-primary"></span> = Full support,
            <span class="key-circle is-info"></span> = Unreleased (new version coming soon)
        </p>
        <table id="current-support" class="table is-bordered">
            <thead>
            <tr>
                <th>Branch</th>
                <th colspan="2">Initial Release</th>
                <th colspan="2">Active Support Until</th>
                <th colspan="2">Security Support Until</th>
                <th>Min PHP</th>
            </tr>
            </thead>
            <tbody>
                <tr is="current-table-row"
                        v-for="version in versions"
                        :version="version.version"
                        :release-date="version.releaseDate"
                        :is-l-t-s="version.isLTS"
                        :php="version.php"
                        :key="version.version"></tr>
            </tbody>
        </table>

        <h3>Calendar</h3>
        <canvas id="calendar" height="420" width="1350"></canvas>
        <footer class="footer">
          <div class="container">
            <div class="content has-text-centered">
              <p>
                <strong>WhichLaravel.me</strong> by <a href="http://www.Jamesking56.uk">James King</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Need a freelancer for your Laravel app? <a href="http://momentum.studio">Momentum Studio</a>.
              </p>
              <p>
                <a class="icon" href="https://github.com/Jamesking56/WhichLaravel.me">
                  <i class="fa fa-github"></i>
                </a>
              </p>
              <p>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- WhichLaravel.me Footer -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3500793750829481"
                     data-ad-slot="7822117454"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </p>
            </div>
          </div>
        </footer>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
    var versions = [
        {
            version: '4.2',
            releaseDate: moment('2014-06-01'),
            isLTS: false,
            php: '5.4.0'
        },
        {
            version: '5.0',
            releaseDate: moment('2015-02-04'),
            isLTS: false,
            php: '5.4.0'
        },
        {
            version: '5.1',
            releaseDate: moment('2015-06-09'),
            isLTS: true,
            php: '5.5.9'
        },
        {
            version: '5.2',
            releaseDate: moment('2015-12-21'),
            isLTS: false,
            php: '5.5.9'
        },
        {
            version: '5.3',
            releaseDate: moment('2016-08-23'),
            isLTS: false,
            php: '5.6.4'
        },
        {
            version: '5.4',
            releaseDate: moment('2017-01-24'),
            isLTS: false,
            php: '5.6.4'
        },
        {
            version: '5.5',
            releaseDate: moment('2017-08-30'),
            isLTS: true,
            php: '7.0.0'
        },
        {
            version: '5.6',
            releaseDate: moment('2018-02-07'),
            isLTS: false,
            php: '7.1.3'
        },
        {
            version: '5.7',
            releaseDate: moment('2018-09-04'),
            isLTS: false,
            php: '7.1.3'
        },
        {
            version: '5.8',
            releaseDate: moment('2019-02-26'),
            isLTS: false,
            php: '7.1.3'
        }
    ];
</script>
<script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
<!--<script src="https://unpkg.com/vue@2.3.4/dist/vue.js"></script>-->
<script src="components/CurrentTableRow.js"></script>
<script src="script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.12/fabric.min.js"></script>
<script src="calendar.js"></script>
</body>
</html>
