@import '~bulma';
@import '~font-awesome/scss/font-awesome';

.is-primary {
    color: white;
    background-color: #27ae60;
}

.is-warning {
    color: white;
    background-color: #e67e22;
}

.is-danger {
    color: white;
    background-color: #c0392b;
}

.is-info {
    color: white;
    background-color: #2980b9;
}

.key-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
